$primary-font-family: 'Open Sans', sans-serif;
$primary-color: #ef5b4c;
$secondary-color: #007bff;
$primary-background-color: #fff;
$secondary-background-color: #f9f9f3;
$primary-text-color: #212529;
$secondary-text-color: #4c4b4b;
$primary-text-color-light: #fff;
$secondary-text-color-light: #fefefe;
